---
title: dailyplay
---
- data = yaml_load_files('dailyplay')
%table{border: 1, cellpadding: 9}

  %tr
    %td{valign: :top, rowspan: 4}
      = partial 'nav'
    = partial 'td_cell', locals: data[:discovery].merge(rowspan: 1)
    %td{valign: :top, rowspan: 2}
      = partial 'cell', locals: data[:tv]
    %td{valign: :top, rowspan: 2}
      = partial 'cell', locals: data[:bass]
    %td{valign: :top, rowspan: 1}
      = partial 'cell', locals: data[:buy_sell]

  %tr
    %td{valign: :top, rowspan: 1}
      = partial 'cell', locals: data[:discovery_music]
    %td{valign: :top, rowspan: 1}
      = partial 'cell', locals: data[:buy_sell_pedals]

  %tr
    %td{valign: :top, rowspan: 1}
      = partial 'cell', locals: data[:discovery_film_comics]
    %td{valign: :top, rowspan: 1}
      = partial 'cell', locals: data[:ents_events]
    %td{valign: :top, rowspan: 1}
      = partial 'cell', locals: data[:find_a_band]
    %td{valign: :top, rowspan: 1}
      = partial 'cell', locals: data[:buy_sell_bass]
