---
title: dailyplay
---
- data = yaml_load_files('dailyplay')
%table{border: 1, cellpadding: 9}

  %tr
    = partial 'td_nav', locals: {rowspan: 4}

    = partial 'td_cell', locals: data[:discovery].merge(rowspan: 1)
    = partial 'td_cell', locals: data[:tv].merge( rowspan: 2)
    = partial 'td_cell', locals: data[:bass].merge( rowspan: 2)
    = partial 'td_cell', locals: data[:buy_sell].merge( rowspan: 1)

  %tr
    = partial 'td_cell', locals: data[:discovery_music].merge( rowspan: 1)
    = partial 'td_cell', locals: data[:buy_sell_pedals].merge( rowspan: 1)

  %tr
    = partial 'td_cell', locals: data[:discovery_film_comics].merge( rowspan: 1)
    = partial 'td_cell', locals: data[:ents_events].merge( rowspan: 1)
    = partial 'td_cell', locals: data[:find_a_band].merge( rowspan: 1)
    = partial 'td_cell', locals: data[:buy_sell_bass].merge( rowspan: 1)
